<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/HibernateLearn</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.provider_class">
            org.hibernate.c3p0.internal.C3P0ConnectionProvider
        </property>
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.timeout">1000</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <mapping resource="site/luoyu/entity/CourseEntity.hbm.xml"/>
        <mapping resource="site/luoyu/entity/ScEntity.hbm.xml"/>
        <mapping resource="site/luoyu/entity/StudentEntity.hbm.xml"/>
    </session-factory>
</hibernate-configuration>